#from archetype resources
HELP.md
!.mvn/wrapper/maven-wrapper.jar
target/classes
target/test-classes/classes
target/generated-test-sources
target/test-classes
target/generated-sources/archetype/target

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.vscode/
/logs
Thumbs.db
.DS_Store
.gradle
build/

out/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

#logfiles
*.log

#factorypath
*.factorypath

# Mac
*.DS_Store

# Maven
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/
